@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-background: #434455;
  --color-border: #2e2f4266;
  --color-text-dark: #2e2f42;
  --color-search-bckg: #f4f4fd;
  --color-card-bckg: #f4f4fd;
  /*--color-text-light: #f4f4fd;*/
  --color-text-light: #d9d0b5;
  --color-accent: tomato;
  --color-modal-overlay: rgba(46, 47, 66, 0.72);

  --font-main: "Roboto", sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-main);
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-background);
  color: var(--color-text-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}
